{% if people %}
    <table border="1">
        <tr>
            <td>Name</td>
            <td>next send</td>
            <td>every</td>
            <td>warning me</td>
            <td>Edit</td>
            <td>View</td>
            <td>Delete</td>
        </tr>
    {% for row in people %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.next_send }}</td>
            <td>{{ row.interval }} {{ row.interval_type }}</td>
            <td>{{ row.warning_interval }} {{ row.warning_interval_type }} before</td>
            <td><a href="/update_person/?id={{ row.id }}">Edit</a></td>
            <td><a href="/view_person/?id={{ row.id }}">View</a></td>
            <td><a href="/delete_person/?id={{ row.id }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Nobody here! Add some <a href="/create_person">people</a>.</p>
{% endif %}
<a href="/">Home</a><br>
<a href="/create_person/">Create Person</a>