{% extends 'index/base.html' %}

{% block content %}

  <div class="login-page">

    <div class="form">

      <table class="register-form">
          {% csrf_token %}
        <tr>
          <td><a href=/create_event/><button">Create a new event</button></a></td>
        </tr>
        <tr>
          <td><a href=/view_event_list/><button">View events</button></a></td>
        </tr>
        <tr>
          <td><a href=/create_person/><button">Create a new person</button></a></td>
        </tr>
        <tr>
          <td><a href=/view_person_list/><button">View people</button></a></td>
        </tr>

      </table>

    </div>
  </div>

{% endblock %}