{% extends 'index/base.html' %}

{% block content %}

<div class="login-page">

  <div class="form">

    <form class="register-form" action="" method="POST">
        {% csrf_token %}

      <input name="username" type="text" placeholder="username"/>
      <input name="first_name" type="text" placeholder="first name"/>
      <input name="last_name" type="text" placeholder="last name"/>
      <input name="phone_number" type="tel" placeholder="phone number"/>
      <input name="email" type="email" placeholder="email"/>
      <input name="password" type="password" placeholder="password"/>

      <button class="btn btn-default btn-raised" type="submit">Create</button>

      <p class="message">Already registered? <a href="/sign_in/">Sign In</a></p>
    </form>

  </div>
</div>

{% endblock %}